In [1]:
#Python database programming (PDBC) 
#!pip install cx_Oracle
import cx_Oracle

In [5]:
#Steps to perform to connect with the database 
    #1. Import the package - Database specific
    #2. Establish the connection between Python and Database 
        #con = cx_Oracle.connect(database information)
    #3. Create a cursor object
        #cursor = con.cursor()
    #4. Execute the SQL queries 
        #Cursor consists of various methods 
            #cursor.execute(sqlquery) - > single sql query
            #cursor.executescript(sqlqueries) - > Execute the string of SQL queries seperated by ';'
            #cursor.executemany() - > To execute a parameterized query
    #5. Fetch the results 
            #cursor.fetchone() - > To fetch only one row 
            #cursor.fetchall() - > To fetch all the rows
            #cursor.fetchmany(n) - > To fetch n rows
    #6. commit()
        #rollback()
    #7. cursor.close() 
        #con.close()

In [4]:
import cx_Oracle
con = cx_Oracle.connect('hr/atharv2210@localhost:1521/ORCL')
if con!=None:
    print('Connection established successfully')
    print('Version:', con.version)
else:
    print('Connection did not established')
con.close()

Connection established successfully
Version: 11.2.0.1.0

In [9]:
dbdetails = 'hr/atharv2210@localhost:1521/ORCL'
import cx_Oracle
try: 
    query = "create table students_details (sid number, stuname varchar2(20), stumarks number(10,2), stuaddr varchar2(20))"
    con = cx_Oracle.connect(dbdetails)
    cursor = con.cursor()
    cursor.execute(query)
    print('The table is created in the database')
except cx.Oracle.DatabaseError as e: 
    if con:
        con.rollback()
        print('There is a problem:', e)
finally:
    if cursor:
        cursor.close()
    if con: 
        con.close()

The table is created in the database

In [8]:
dbdetails = 'hr/atharv2210@localhost:1521/ORCL'
import cx_Oracle
try: 
    query = "drop table students_details"
    con = cx_Oracle.connect(dbdetails)
    cursor = con.cursor()
    cursor.execute(query)
    print('The table is dropped in the database')
except cx.Oracle.DatabaseError as e: 
    if con:
        con.rollback()
        print('There is a problem:', e)
finally:
    if cursor:
        cursor.close()
    if con: 
        con.close()

The table is dropped in the database

In [11]:
dbdetails = 'hr/atharv2210@localhost:1521/ORCL'
import cx_Oracle
try: 
    query = "insert into students_details values (100, 'Rahul', 44, 'Gurgaon')"
    con = cx_Oracle.connect(dbdetails)
    cursor = con.cursor()
    cursor.execute(query)
    con.commit()
    print('The record is inserted in the database')
except cx.Oracle.DatabaseError as e: 
    if con:
        con.rollback()
        print('There is a problem:', e)
finally:
    if cursor:
        cursor.close()
    if con: 
        con.close()

The record is inserted in the database

In [16]:
dbdetails = 'hr/atharv2210@localhost:1521/ORCL'
import cx_Oracle
try: 
    query = "insert into students_details values (:sid, :stuname, :stumarks, :stuaddr)"
    con = cx_Oracle.connect(dbdetails)
    cursor = con.cursor()
    records = [(101, 'Priyanka', 97, 'Nagpur'),(102, 'Khushal', 95, 'Pune'),(103, 'Piyush', 99, 'Mumbai')]
    cursor.executemany(query, records)
    con.commit()
    print('The record is inserted in the database')
except cx.Oracle.DatabaseError as e: 
    if con:
        con.rollback()
        print('There is a problem:', e)
finally:
    if cursor:
        cursor.close()
    if con: 
        con.close()

The record is inserted in the database

In [14]:
import pandas as pd
list1 = [1,2,3,4,5]
list2 = [3,4,5,6,7]
list3 = [4,5,6,7,8]
import numpy as np
pd.DataFrame(np.array([list1,list2,list3]))

   0  1  2  3  4
0  1  2  3  4  5
1  3  4  5  6  7
2  4  5  6  7  8

In [19]:
dbdetails = 'hr/atharv2210@localhost:1521/ORCL'
import cx_Oracle
try: 
    #query = "insert into students_details values (:sid, :stuname, :stumarks, :stuaddr)"
    con = cx_Oracle.connect(dbdetails)
    cursor = con.cursor()
    while True: 
        sid = int(input('Enter the student id:'))
        stuname = input('Enter the student name:')
        stumarks = float(input('Enter the marks of the student:'))
        stuaddr = input('Enter the address of the student:')
        sql = "insert into students_details values (%d, '%s', %f, '%s')"
        cursor.execute(sql %(sid, stuname,stumarks,stuaddr))
        con.commit()
        print('The record is inserted in the database')
        option = input('Do you want to insert one more record [Yes|No]:')
        if option == 'No':
            break
except cx.Oracle.DatabaseError as e: 
    if con:
        con.rollback()
        print('There is a problem:', e)
finally:
    if cursor:
        cursor.close()
    if con: 
        con.close()

Enter the student id:1
Enter the student name:a
Enter the marks of the student:10
Enter the address of the student:r
The record is inserted in the database
Do you want to insert one more record [Yes|No]:Yes
Enter the student id:2
Enter the student name:b
Enter the marks of the student:20
Enter the address of the student:c
The record is inserted in the database
Do you want to insert one more record [Yes|No]:No